<section class="sign-in-page">
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
    <div class="form-section">
        <form class="signup-form">
            <div>
                <label for="username-signup">Select a Username</label>
                <input type="text" class="entry-field" id="username-input-signup" />
            </div>
            <div>
                <label for="email-signup">email:</label>
                <input type="text" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">Select a password</label>
                <input type="password" class="entry-field" id="password-input-signup" />
            </div>
            <div>
                <button type="submit" id="signup-form">Sign Up!</button>
            </div>
        </form>
    </div>

    <a href="/login" class="login-link">log in instead</a>
</section>

<script src="/js/signup.js"></script>