

<form class="comment-form">
  <div>
    <textarea id="comment-body" name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="submit-btn">add comment</button>
    
  </div>
</form>


{{> comments post.comments }}


<script src="/js/comment.js"></script>
